@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin-left: 50px;
    border: 1px solid #ffffff33;
    border-radius: 50%;
}

.logo img {
    width: 100%;
    
    
}

.title h1 {
    font-size: 24px;
    margin-left: 20px;
}

.date-time {
    text-align: right;
}



.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: #2b2b2b;
    position: relative;
    color: white;
    padding: 20px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .welcome {
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}
.active{
    color: royalblue !important;
}

.menu ul li a:hover{
    color: royalblue;
}


#logout-bnt {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 90%
    
}


.main-content {
    padding: 50px;
    background-color: #fff;
    flex: 1;
}




.main-content .go-back {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: royalblue;
    color: #fff;
    font-size: 16px;
    font-family: "poppins";
    cursor: pointer;

    position: relative;
    top: -30px;
}



.navigation {
    width: 100%;
    height: 80px;
    /* background-color: red; */
    border-bottom: 2px solid #00000045;

}

.navigation .search {
    /* background-color: red; */
    width: fit-content;
    position: relative;
}

.navigation .search label{
    font-size: 18px;
    font-family: "poppins";
    margin-right: 20px;
    
}

.navigation .search input {
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #00000056;
    border-radius: 50px;
    padding: 0 15px;
    font-size: 16px;
}



.navigation .search i {
    font-size: 19px;
    opacity: 80%;
    position: absolute;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
    transition: .3s all ease;
}







.navigation .search i:hover {
    opacity: 100%;
    font-size: 20px;
}




.main-content .std-info{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
    margin: 20px;
    border: 1px solid #00000056;
    padding: 30px;
    gap: 12px;
}






.student-table table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th, .student-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.student-table th {
    background-color: rgba(65, 105, 225, 0.857);
    color: white;
}


.student-table tr:hover {
    outline: 1.1px solid #ccc;
}


.view-btn, .edit-btn {
    width: 70px;
    height: 30px;
    border: 1px solid #333;
    border: none;
    border-radius: 10px;
    background-color: royalblue;
}

.view-btn a, .edit-btn a {
    text-decoration: none;
    font-size: 16px;
    border: none;
    color: #fff;
}