





table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th,  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

 th {
    background-color: rgba(65, 105, 225, 0.857);
    color: white;
}

tr:hover {
    outline: 1.1px solid #ccc;
}


.view-btn {
    width: 70px;
    height: 30px;
    border: 1px solid #333;
    border: none;
    border-radius: 10px;
    background: royalblue;
}

.view-btn a {
    text-decoration: none;
    font-size: 16px;
    border: none;
    color: #fff;

}

.view-btn:hover {
    background-color: #007bff;

}